[2020-05-26 09:46] DavidRoy opened #1 "fixed photograph mockup"
https://dunes.app.flumens.io/survey/fixed-photography/9dacda6f-22a3-4cbc-9ad6-f154650dce1f/edit

Should the location picker come at the top of the screen.  Seems more logical to me

[2020-05-26 09:47] DavidRoy opened #2 "Privacy policy"
Align to updated policy for iRecord in development

[2020-05-26 09:47] DavidRoy opened #3 "T&Cs"
Align with T&Cs being updated for iRecord
https://github.com/BiologicalRecordsCentre/iRecord/issues/638

[2020-05-26 12:39] DavidRoy opened #4 "Setup list of Dune site"
The app requires a list of Dune sites for the user to select.
These need to be loaded into the Indicia warehouse

[2020-05-30 13:51] #1 closed, assigned to nobody

[2020-07-09 11:34] DavidRoy commented on #4
List of sites to setup locations.  Information to use:
1. Set of locations defined by grid reference
2. Location name = Site name
3. Add additional location attribute for = Cluster site

[Summary of Dynamic Dunescapes sites.xlsx](https://github.com/NERC-CEH/dunes-app/files/4896426/Summary.of.Dynamic.Dunescapes.sites.xlsx)

@johnvanbreda can you setup these sites

[2020-07-09 15:23] kazlauskis commented on #4
If there was a report for me to pull the list then it would be great.

[2020-07-16 09:26] johnvanbreda commented on #4
I've uploaded these sites, location_type set to 17804: Dunscapes site. The custom attribute for Cluster site is ID 262.

@kazlauskis  you could just use one of the standard locations reports, e.g. locations/library/locations_list_3.xml setting the location_type_ids parameter to 17804 and locattrs=262?

@DavidRoy I can't close this issue - please close if OK.

[2020-07-16 09:31] kazlauskis commented on #4
I have invited you to the repo now so you should be able to manage the tickets.

[2020-07-16 10:00] johnvanbreda commented on #4
@kazlauskis thanks.

[2020-07-16 10:00] #4 closed, assigned to nobody

[2020-07-17 09:51] kazlauskis commented on #3
Could this be hosted on the website and the app would just link to? Same with #2.

[2020-07-17 09:56] DavidRoy commented on #2
Page will be
.../privacy-notice

[2020-07-17 09:58] DavidRoy commented on #3
yes,
.../terms-of-use

[2020-07-17 10:20] kazlauskis commented on #3
Excellent, thanks.

[2020-07-21 10:40] DavidRoy opened #5 "Setup forms for setting up transects and plots"
1)      A list of predefined Dune sites on the website.
2)      An Add Transect button for each site.
3)      Takes you to a form for adding a transect, with tools for drawing the line. The transect will have the parent site set to the Dune site.
4)      Add option to assign habitat to transect (habitats list as used for the smpAttr:1499)
5)      A list of saved transects with Edit and Add Plot li

[2020-07-21 10:47] DavidRoy opened #6 "Setup plant species list for vegetation surveys"
New list imported into Indicia
- link to UKSI
- add taxon attribute for habitat indicators

[2020-07-21 10:49] DavidRoy opened #7 "Add generic form for editing survey data"
A form for editing samples and occurrences, and all attributes.  Either a single generic form or separate forms for each survey

[2020-07-21 10:51] DavidRoy opened #8 "Downloads page"
Initial requirement is downloads for:
1. Transect routes (.shp)
2. Samples (.csv)
3. Occurrences (.csv)
4. Photos (.csv) - occurrence/sample IDs plus image url

[2020-07-21 11:01] kazlauskis commented on #5
Note, the habitats will be per transect section/point. There should be a way to attach an image to a point/section too.

[2020-07-21 13:28] johnvanbreda commented on #6
@DavidRoy Is there a spreadsheet or similar containing the list of plant names?

[2020-07-21 13:34] DavidRoy commented on #6
It’s in prep.  Will be a spreadsheet of species x habitat
@LaurenceJonesES to supply

[2020-07-21 15:49] johnvanbreda commented on #5
1. Should the edit forms and report pages use the same OS + Google Satellite combined layers as iRecord?
2. When editing a transect, is there any need for a grid reference input control, or shall I just hide this and take the centroid from the drawn line?
3. When editing a transect, is there any need for a grid reference input control, or shall I just hide this and take the centroid from the drawn

[2020-07-21 15:54] DavidRoy commented on #5
1. No Google Satellite (at least initially) as we'd need to setup a payment structure for that.  OpenLayers only
2. No need for grid reference input control
3. ditto :-).  Or did you mean plots?  Input control for plots would be needed as these may be setup using GPS unit on site
4. Support for OSGB (no need for Ireland), plus lat/long

[2020-07-21 16:17] johnvanbreda commented on #5
Thanks - sorry, yes, I meant plots for 3.
Are plots simple points, or do we need to allow for transect section lines?

[2020-07-21 16:22] DavidRoy commented on #5
@kazlauskis or @LaurenceJonesES can confirm but I think the plots are either points or 2m square.  But I think they can both be handled as points (either centroid or bottom-left corner).

[2020-07-21 16:48] LaurenceJonesES commented on #5
Will try and clarify structure needed (& hopefully it agrees with suggestions so far). Using A,B etc. to avoid confusion with numbers used above.
A) Transect/group is a higher level aggregation containing grouped locations within a site. Sometimes these will form a transect (with pre-set Start and End, and other points added later by the app user), sometimes it will be a group of pre-set locations

[2020-07-22 06:45] DavidRoy commented on #5
Thanks Laurence.  For my own understanding and from the website perspective.
B. So all transects are straight lines only?
C. point locations can be linked to the straight-line transects even if not spatially on the transect line?
F. For 2x2m quadrats, what is the grid reference (1m - 10 digit gridreference) - the centroid or one of the corners
D & E & G. For 'link/assign to a group'.  Does that op

[2020-07-22 08:23] LaurenceJonesES commented on #5
We haven't discussed this explicitly, but this is the structure that has emerged-
A) Transect and Group are the higher level aggregation (parent), each having daughter locations assigned. But they have a different structure so probably need to be set up differently. My suggestion is as follows:
B) Transects are only straight lines, with a specified start and end. These are set up by the site manag

[2020-07-22 08:35] DavidRoy commented on #5
Thanks.  I'll leave @johnvanbreda to ask for any clarification for the website functionality

[2020-07-22 10:07] johnvanbreda commented on #5
I've reformatted the notes above as a list of requirement statements for the website:
* Sites are preloaded into the system from the provided sheet.
* A site manager can access an edit page for a site.
* The site edit page allows the site manager to define a list of transects at the site. The
  transect has a name, start GPS coordinate and end GPS coordinate and are linked as children of
  the sit

[2020-07-22 10:57] kazlauskis commented on #5
Speaking from the app's perspective it is unclear to me why we need groups at this stage. Sorry, if I have missed something important from your discussion above 🙂 In the app we are simply using the word 'Group' for a transect in the Plant Quadrat Recording activity but essentially these can be defined as transects. I wonder if a simpler set up would suffice:  Site -> Transect -> Point (of differen

[2020-07-22 11:47] LaurenceJonesES commented on #5
I don't have a preference for how this is implemented, as long as the functionality that I outlined can be achieved. It may be simplest to define the two different sets of parent (i.e. Transect, Group) if that's the easiest way to set them up. It strikes me they are quite different in set up, but share the common characteristic of having child locations attached, but in different ways.

[2020-07-22 12:30] DavidRoy commented on #5
In terms of the database, the structure will be the same as a three level hierarchy of site-transect/group-plot/point

@johnvanbreda is the simplest way to handle the requirement from the website is to have two 'location_types' at level 2
- 'transect' or 'quadrat group'

and two 'location_types' at level 3
- 'point' or 'quadrat'

Also, is it worth checking with @sacrevert (and Andy vB) for how the

[2020-07-22 13:16] LaurenceJonesES commented on #5
If we go with two types at Level 2, then I suggest calling 'transect' or 'group' (since they won't all be quadrats, & need to include dipwells & fixed point photos.

Apologies for naive question, but is the need for different types dictated by requirements for setting them up on the website, or does it need to take account of the type of data & attributes that will be recorded as well ?

I wonder

[2020-07-22 13:34] kazlauskis commented on #5
I'm free for a call as well.

[2020-07-22 13:42] LaurenceJonesES commented on #5
I've set up a zoom link, sent by email, but copied here. Its an open slot, so join if you can.  I've removed zoom link from here as this site is open
@johnvanbreda are you free for a quick call on this?

[2020-07-22 13:54] DavidRoy commented on #5
@johnvanbreda can you let me know when you expect to have the transect/plot setup forms available so I can inform the testers

[2020-07-22 15:08] johnvanbreda commented on #5
After discussion with @LaurenceJonesES and @kazlauskis we've determined the following data structure:
1. A list of dune sites in the locations table, each holding just a name and centroid grid reference, with the location type set to "Dune site". These have been pre-loaded into the system from a CSV file.
2. Site managers can add a transect. These are stored in the locations table with the followi

[2020-07-22 15:17] DavidRoy commented on #5
Thanks - a productive discussion.  This makes sense to me.  Keep me posted on timescales so I can give testers some warning of when their input is needed

[2020-07-22 15:22] kazlauskis commented on #5
Yes, that's one off and we will attach the site location id to the sample we submit.

[2020-07-22 15:47] LaurenceJonesES commented on #5
All makes sense to me, although I have a question on new transect structure.
2. Transect geometry as a line. Does this allow start and end to be pre-defined ?  For most transects it will matter which point is defined as the start (i.e. can't be automated), and will affect the bearing given to the user (see next point)
-We mentioned transect bearings, I assume that doesn't need to be highlighted in

[2020-07-23 07:53] johnvanbreda commented on #5
I've updated https://github.com/NERC-CEH/dunes-app/issues/5#issuecomment-662509025 to reflect the comments above so it represents the latest info.

[2020-07-25 15:28] DavidRoy commented on #6
[dune species.zip](https://github.com/NERC-CEH/dunes-app/files/4975778/dune.species.zip)

@johnvanbreda can you please load this as a Dunescape species list, linked to the UKSI and provide a report of taxa_taxon_list_id for @kazlauskis to incorporate within the app

[2020-07-27 09:37] johnvanbreda commented on #5
@DavidRoy I will hopefully have this all ready by the end of today.

[2020-07-27 19:35] johnvanbreda commented on #5
@DavidRoy this is now done. Users who are going to test it need to be added to the Site manager role. There is a little test data on the Ainsdale Hills site.

[2020-07-27 19:44] kazlauskis commented on #5
I've just opened this up and created a point. Looks good to me. Will the `group` dropdown provide existing groups for the site or is it essentially a text field where you have to retype your group (I only got 'undefined' as options now)?

Edit: also, what reports do you think I should use to pull the data out?

[2020-07-28 07:30] DavidRoy commented on #5
Thanks John.  Works well from my quick test. I'll ask some site managers to test.

[2020-07-28 07:39] johnvanbreda commented on #5
@kazlauskis yes, the text field for groups should offer existing groups as suggestions - I've just fixed that.

What fields do you need in the reports?

[2020-07-28 07:49] kazlauskis commented on #5
Ideally, I would like to call a report passing the site param (site location id?) as a filter. This would then return me all the fixed points with:
* Type (Fixed photo, dipwell etc)
* Location
* Image
* Habitat type

Also for the transects which could be the same report or a different one:
* Centroid grid reference
* Shape
* Images
* Bearing

[2020-07-28 11:10] DavidRoy opened #9 "Site setup form - map to zoomed out further on load"
Can the default zoom for the individual site map, be set higher, e.g. 5/6 level of zoom so the whole site is visible when the page is first loaded
https://dunescapes.brc.ac.uk/sites/setup?dynamic-parent_id=247287

[2020-07-28 12:11] johnvanbreda commented on #9
@DavidRoy we don't have the site boundaries loaded, only the centroid. The system currently zooms to fit around the available data for the site, i.e. all the transects, fixed points and the centroid itself, so will become more accurate as the subsites are populated. Is that OK?

[2020-07-28 12:21] DavidRoy commented on #9
@johnvanbreda.  Thanks, that will work so no action needed

[2020-07-28 12:22] DavidRoy opened #10 "Report of all locations"
To provide an overview across all sites, a report pages is required that gives an overview of all locations.  Available to users with permission = Site manager

[2020-07-28 15:50] #9 closed, assigned to johnvanbreda

[2020-07-31 13:19] johnvanbreda commented on #5
@kazlauskis is WKT OK for the transect shape and which projection (e.g. WGS 84, or OSGB 1936, or Web Mercator)?

[2020-07-31 13:34] johnvanbreda commented on #5
@kazlauskis there is a first draft of the report at projects/dunescapes/locations_list_for_app.xml. It combines both fixed points and transects into a single report but can be filtered by setting the location_type_id parameter to one of:
17807	"Quadrat"
17806	"Dipwell"
17805	"Fixed point photo"
777		"Transect"

Pass parent_id to filter by site. The media column is a JSON array of image paths.

[2020-07-31 13:39] johnvanbreda commented on #6
@DavidRoy should the columns provided be loaded as attributes? I.e.:
* short_list
* long_list
* dunescapes_strandline-embryo-mobile   dune
* dunescapes_fixed-semi-fixed dune
* dunescapes_dune-heath
* dunescapes_dune-slack
* dunescapes_positive-health
* dunescapes_negative-health
* dunescapes_nitro-phobe
* dunescapes_nitro-phile

[2020-07-31 13:40] DavidRoy commented on #6
yes, taxon attributes unless you propose a better way of doing this

[2020-07-31 14:40] johnvanbreda commented on #6
@DavidRoy that's fine. Also, should I correct common names to match the equivalents on UKSI, for example should "Common cat's ear" be changed to "Common Catsear"?

[2020-07-31 14:43] DavidRoy commented on #6
@johnvanbreda, yes we should align with UKSI

[2020-07-31 16:05] johnvanbreda commented on #6
This is now done - list 266.

For safekeeping, here's a cleanup script I wrote to help link it to UKSI:

[code]

[2020-07-31 18:56] kazlauskis commented on #5
Sorry, I think I will also need the `group` attribute returned to be able to group the points/quadrats together.

[2020-07-31 19:10] kazlauskis commented on #5
The current projection you use is fine, I can transform the geoms to GeoJSON in the client.

[2020-08-01 09:18] johnvanbreda commented on #5
I've added a Group column @kazlauskis.

[2020-08-01 11:26] kazlauskis commented on #6
Thanks, is there a report I could use that would include all the attributes?

[2020-08-03 16:04] johnvanbreda commented on #6
Try projects/dunescapes/vegatation_taxon_list.xml.

[2020-08-03 18:03] kazlauskis commented on #6
All good, thanks!

[2020-08-03 18:03] #6 closed, assigned to johnvanbreda

[2020-08-04 16:03] DavidRoy commented on #5
@johnvanbreda feedback on location setup forms:

The process worked fine except for some strange reason on T5 the webpage wouldn’t allow me to enter -5.148130 as a longitude for transect end. I checked a few times and then tried -5.148131 instead, which it accepted.

[2020-08-06 10:25] johnvanbreda commented on #5
The value -5.148130 would be accepted as -5.14813 - the combination of a negative with a zero at the end caused the validation code to fire when it shouldn't. I've committed a fix which will be deployed in the next few days.

[2020-08-06 10:55] johnvanbreda commented on #10
@DavidRoy here's a first draft: https://dunescapes.brc.ac.uk/sites/overview-list. Any thoughts on additional columns you need?

[2020-08-06 12:37] DavidRoy commented on #10
@johnvanbreda Looks good. Can you add more meaningful label for the two columns labelled 'Quadrats'

[2020-08-07 14:13] DavidRoy opened #11 "Enable masquerade module"
@BirenRathod can you enable the masquerade module on https://dunescapes.brc.ac.uk/

[2020-08-07 14:41] BirenRathod commented on #11
@DavidRoy
It has enabled now.

[2020-08-07 14:58] johnvanbreda commented on #10
Fixed - that was intended to be a count of samples.

[2020-08-07 16:21] DavidRoy commented on #10
Thanks.  that's good to have and makes sense to be zero at this point

[2020-08-07 16:21] #10 closed, assigned to nobody

[2020-08-07 16:35] DavidRoy commented on #11
Thanks

[2020-08-07 16:35] #11 closed, assigned to nobody

[2020-08-07 17:29] DavidRoy opened #12 "Unable to login to the app"
I already had an account on the website. Using the same credentials I am unable to login to the app

[2020-08-07 19:42] kazlauskis commented on #12
Try it again now.

[2020-08-08 08:43] DavidRoy opened #13 "More helpful approach when users not logged in?"
Currently, if you are not logged in you can start a survey but when trying to add a site the message is
'You don't have any sites. Please try to refresh the list'.

This is not helpful as the real issue is that the user is not logged in?

Solutions:
1. Make it clear to users that they'll need an account/be logged in to submit surveys
2. Show the list of locations even when users are not logged in?

[2020-08-08 08:44] DavidRoy commented on #12
Thanks, ok now

[2020-08-08 08:44] #12 closed, assigned to kazlauskis, Vilius-Stankaitis

[2020-08-10 07:27] DavidRoy commented on #8
@johnvanbreda can you advise on when you can produce these downloads

[2020-08-10 07:36] johnvanbreda commented on #8
I'll work on them now.

[2020-08-10 08:39] johnvanbreda commented on #8
@DavidRoy -
1. Please let me know what columns to include in the occurrences download.
2. For the samples download, again, what columns? Also is this a download of the individual point samples, or the parent transect samples?

[2020-08-10 08:39] kazlauskis commented on #13
Thanks, we'll improve this.

[2020-08-10 08:44] kazlauskis commented on #8
1. The only occurrences we send is for Plant Quadrat survey where an occurrence has a taxon, plus health (`occAttr:841`) and nitrogen (`occAttr:840`) values.

[2020-08-10 08:53] DavidRoy commented on #8
@johnvanbreda
1. The main principle is that everything collected through the surveys needs to be included in the download files - split by samples and occurrences.  Most information is at the sample level
2. Both.  If it is easier to split the downloads by survey type that is fine

[2020-08-10 10:03] johnvanbreda commented on #8
Thanks both. @kazlauskis - are all the surveys going to submit a parent/child sample, or are some of them just single level?

[2020-08-10 10:09] kazlauskis commented on #8
Disturbance is flat - just a sample. Otherwise, all sample->subsample->occurrence.

[2020-08-10 11:10] johnvanbreda commented on #8
@DavidRoy there is a Downloads page on the menu now. It will need testing and tweaking though once there are some data to download.

[2020-08-12 08:54] kazlauskis opened #14 "Show Welsh species names in guide"
- [x] Update the app to use the new names

[2020-08-13 12:19] #13 closed, assigned to kazlauskis

[2020-08-13 14:54] DavidRoy commented on #5
@johnvanbreda has the fix of zero at end of decimals been implemented?  Still getting reports of this bug

[2020-08-14 10:20] johnvanbreda commented on #14
I think the list doesn't have Welsh names or other translations in it, so a first step will be to load these into the warehouse. Do we have them available?
Once done the report should automatically list them as separate rows but with the same taxon_meaning_id so they can be linked together. You could filter this report on preferred_taxon to get a list of all names available for species.

[2020-08-14 10:27] DavidRoy commented on #14
Are Welsh names available in the UKSI?

[2020-08-14 10:49] johnvanbreda commented on #5
Sorry @DavidRoy there were 2 problems in the validation of negative floats and I'd only spotted the first. Now definitely fixed.

[2020-08-14 11:02] johnvanbreda commented on #14
Yes, covering 29 of 34 English common names on this list, but with quite a few duplicates for each and the only way to work out which is the most acceptable name is via the UKSI raw data, e.g. http://nbn-sd-dev.nhm.ac.uk/taxonbrowser.php?selSearchType=b&txtSearch=ilex+aquifolium,

[2020-08-17 07:48] #5 closed, assigned to johnvanbreda

[2020-08-31 08:23] kazlauskis opened #15 "Improve habitat labels"
Not clear which label goes with which habitat, can labels be placed over photo top and a thin line to separate, with label first then photo?

<img width="216" alt="Screenshot 2020-08-31 at 09 22 50" src="https://user-images.githubusercontent.com/7383162/91699016-8b573e00-eb6b-11ea-94b0-42bda5df0b2d.png">

[2020-08-31 08:26] kazlauskis opened #16 "Improve photo swiper progress indicator visibility"
* Not clear there are multiple photos - for habitats and species photos swiper, move progress indicators below the image.
* Also, suggested order of photos in this sequence (Semi-fixed) 3,1,2 to show some bare sand in first photo

<img width="214" alt="Screenshot 2020-08-31 at 09 24 30" src="https://user-images.githubusercontent.com/7383162/91699155-c6f20800-eb6b-11ea-8658-29fac2958a3d.png">

[2020-08-31 08:27] kazlauskis opened #17 "Group people in Credits by organisation"
* Simply reorder so that CEH ones are together.

<img width="215" alt="Screenshot 2020-08-31 at 09 26 46" src="https://user-images.githubusercontent.com/7383162/91699360-189a9280-eb6c-11ea-924d-9832eca7110c.png">

[2020-08-31 08:28] kazlauskis opened #18 "Improve home page background photo"
Photo looks washed out, try different image or different settings?

<img width="214" alt="Screenshot 2020-08-31 at 09 28 15" src="https://user-images.githubusercontent.com/7383162/91699496-4d0e4e80-eb6c-11ea-8d6e-7c965a674359.png">

[2020-08-31 08:37] kazlauskis opened #19 "Increase the background info message contrast"
The light grey box and text that is used for all these types of ‘prompts’ is very faint on my screen (not as clear as in the screenshot). It is not easy to read in good light conditions, so may be difficult in bad, or those with visual impairments may find it very difficult to read.

![Screenshot 2020-08-31 at 09.36.24.png](https://zube.io/files/nerc-ceh/6fdc5fadb319710c30c3156358033c3b-screenshot

[2020-08-31 08:39] kazlauskis opened #20 "Improve survey info message display"
“You can find this survey information in our volunteer manual (+button)” doesn’t look right somehow to me. Maybe it’s the text flowing one word over to a second line, maybe it’s the button – could be bigger, or filled with colour, or in the middle to make it more obvious?

![image.png](https://zube.io/files/nerc-ceh/4914215846d57602f441a35260de9ac6-image.png)

[2020-08-31 08:40] kazlauskis opened #21 "Rename 'Disturbance' activity to 'Disturbance/Other'"
To me, the name ‘Disturbance’ and ‘Record Disturbace’ logo is suggestive of a bad thing, such as people being noisy. However, the disturbance types in the app are not all bad things - many are recording patches of bare sand. For people who aren’t ecologists, I feel ‘disturbance’ has a more negative connotation than it’s more neutral ecological meaning. Maybe this can be explained, or some language

[2020-08-31 08:44] kazlauskis opened #22 "Improve habitat descriptions"
* Sometimes a factor is mentioned and sometimes not, e.g. soil. Could be good to have more consistency on bullet points, e.g. every time..
  * Amount of bare sand
  *  Soil type (could include most relevant info for each habitat type out of any of grain size, water holding ability, amount of humus, pH, colour, depth, etc)
  * Typical plant species present / species diversity
  * Could also then ad

[2020-08-31 08:45] kazlauskis opened #23 "Improve species list"
* The current list feels a bit random. Several species in there that aren’t particular dune species and many dune specialists not in there.
* Better/more useful to people  when there is more than one photo for a species

[2020-08-31 08:47] kazlauskis opened #24 "Rename Quadrat missing group location message"
Rename to:

![image.png](https://zube.io/files/nerc-ceh/a0a7782f355f6ee2591632439734dc3c-image.png)

[2020-08-31 08:49] kazlauskis opened #25 "For Quadrat Location rename Transects -> Quadrat group"
When I select “quadrat group” it takes me to the transects list – is this wrong?

![image.png](https://zube.io/files/nerc-ceh/a0a7782f355f6ee2591632439734dc3c-image.png)

[2020-08-31 08:51] kazlauskis opened #26 "Text correction"
Rename photo picker “Please add a photo for your visit” -> "Please add photos of your visit”

![image.png](https://zube.io/files/nerc-ceh/108b48abe7ac87c7576a8562b0448f60-image.png)

[2020-08-31 08:57] kazlauskis opened #27 "Show a transect line"
The transect is not shown on the map – only the start and end points (see attachment). It would be much more useful if I could see the transect on the map, so I can easily judge if I’m on track or not. This is what I’ve been doing when using Viewranger to ground-truth transects (see attached screenshot of me doing this with viewranger app).

[2020-08-31 08:58] kazlauskis opened #28 "Auto-detect distance walked"
When I selected the distance tab, to state how far I had moved between transition points, I got an option to enter how many meters I had walked. However, I didn’t know how many metres I had walked – I assumed the app would be tracking this for me. Having gone back to the new manual (and read it properly!) I now see that this should be done using canes and a tape measure. I was wondering if there i

[2020-08-31 09:00] kazlauskis opened #29 "Clarify fixed-point photography available locations"
When I try to select the location, I only have a choice to select a ‘transect’ – no other options. However, as the manual now says “Some photography points may be along transects, others may be in dune slacks or other points of interest on the site.”, to only have transect as a location choice will be confusing when people aren’t using transects.

[2020-08-31 09:01] kazlauskis opened #30 "Zonation activity text change in the manual"
In the zonation section of the manual, it states that “It will take roughly take between 1 to 3 hours per transect.”. I don’t think this should be included, as some transects will be very short and easy and some very long (I have some over a mile) and difficult. I don’t see the benefit of estimating something that is so variable across all sites – why put any estimate at all?

[2020-08-31 09:03] kazlauskis opened #31 "Text correction"
On the Species page on the blue info bit – missing an ‘in’

![Screenshot 2020-08-31 at 10.02.55.png](https://zube.io/files/nerc-ceh/9b9926c662bbbffe1525cdfa5aa171b6-screenshot-2020-08-31-at-10-02-55.png)

[2020-08-31 09:08] kazlauskis opened #32 "Add a record 'draft' stage"

[2020-08-31 09:16] #32 closed, assigned to nobody

[2020-08-31 10:20] #18 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:20] #17 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:20] #19 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:20] #31 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:20] #26 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:20] #15 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:20] #16 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:21] #25 closed, assigned to Vilius-Stankaitis

[2020-09-01 09:21] #24 closed, assigned to Vilius-Stankaitis

[2020-09-02 10:35] johnvanbreda opened #33 "Show satellite imagery on the website"
Currently the website only uses OpenStreetMap layers. During today's Webex, Rupert requested satellite imagery as the OSM layers are more or less useless when looking at dune systems.

@DavidRoy I think the level of usage will be low (on the Google free tier) so is it OK to arrange for an API key to be added to the website?

[2020-09-02 16:42] DavidRoy commented on #33
Yes, that is fine

[2020-09-02 19:10] johnvanbreda commented on #33
@DavidRoy shall I ask Biren to arrange this?

[2020-09-02 19:43] DavidRoy commented on #33
Yes please

[2020-09-07 08:24] BirenRathod commented on #33
@johnvanbreda  & @DavidRoy

I have added the API key in the indicia setting form on Dunescapes website.

[2020-09-07 13:26] johnvanbreda commented on #33
Thanks @BirenRathod.
I tried enabling the satellite layer on https://dunescapes.brc.ac.uk/sites/setup?dynamic-parent_id=247268 but it gives the following error:
[code]

[2020-09-07 13:38] BirenRathod commented on #33
@johnvanbreda
I have implemented the restricted URL name on maps service now.
Sorry for this trouble as example shown in Google API settings doesn't work exactly. So I have to implement that.

[2020-09-08 10:21] #21 closed, assigned to Vilius-Stankaitis

[2020-09-08 18:26] kazlauskis opened #34 "Enable OPTIONS request for the Dev and Live warehouses"
This is probably some IIS config. At the moment, the indicia warehouse code doesn't receive OPTIONS requests and IIS is responding automatically.

[2020-09-08 18:28] kazlauskis commented on #34
@BirenRathod is this is something you could have a look? This is quite urgent as it blocks our Dunes App release.

[2020-09-08 18:32] BirenRathod commented on #34
@kazlauskis If this has been pass through dunscapes website then it has already got enabled. Do you need on the warehouse?

[2020-09-08 18:37] kazlauskis commented on #34
Yes, that's the dev and live warehouses.

[2020-09-08 18:40] BirenRathod commented on #34
@kazlauskis Why this app is different than others? Sorry to ask you but no other app has got that requirement.

[2020-09-08 18:41] kazlauskis commented on #34
Yes, it is different - it will communicate directly with the warehouse.

[2020-09-08 18:44] kazlauskis commented on #34
I am also getting 405 when doing PUT or DELETE: "405 - HTTP verb used to access this page is not allowed." Do you know if this is the IIS and could also be enabled?

[2020-09-09 07:49] BirenRathod commented on #34
@kazlauskis
I have implemented the settings of verb in IIS.

[2020-09-11 13:48] kazlauskis commented on #34
Thanks, the OPTIONS now work. The PUT and DELETE though gives`401 - Unauthorized: Access is denied due to invalid credentials.` instead of 405 now. Looks like these two types don't accept Authorization header with my token. GET/POST with the same header works fine though.

[2020-09-11 14:05] johnvanbreda commented on #34
@kazlauskis I've just pulled the latest code. I don't think it will change anything but I thought I should mention it as I refactored quite a lot of the code.

[2020-09-11 14:08] kazlauskis commented on #34
Thanks, I have tried this and it gives the same 401 when doing PUT and DELETE.

[2020-09-11 14:33] johnvanbreda commented on #34
Yes, think that's IIS config again...

[2020-09-14 08:11] BirenRathod commented on #34
It has already got both these enabled.

[2020-09-14 08:21] kazlauskis commented on #34
Yes, the methods are available, but I get 401 when making the requests. Is there some Authorisation header check that's blocking the requests?

[2020-09-14 08:24] BirenRathod commented on #34
Is it on Dev?

[2020-09-14 08:50] kazlauskis commented on #34
Yes

[2020-09-14 09:26] BirenRathod commented on #34
I haven't made any changes since last verb enabled and it has got all users permission too. Is there anyway, I could test? sorry to ask but I can't see any error in the log files too.

[2020-09-14 09:37] kazlauskis commented on #34
Yes, try this with the token I have sent you few days ago:
[code]

Change DELETE -> GET to see that it works for other methods.

[2020-09-14 15:10] BirenRathod commented on #34
@kazlauskis I implemented the settings little bit and I got this message "404 - File or directory not found.", so something is missing there.

[2020-09-14 15:18] BirenRathod commented on #34
More info of  404 ----
"The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable."

[2020-09-14 16:23] kazlauskis commented on #34
Yeah, a successful delete will remove the resource thus the 404. Try the PUT instead, this also gives me the 401:

[code]

[2020-09-14 16:27] BirenRathod commented on #34
Same for me.

[2020-09-14 16:29] kazlauskis commented on #34
Great, you can now replicate the issue then. Once you resolve the 401 on the IIS then you should get something like 200.

[2020-09-14 16:47] BirenRathod commented on #34
@kazlauskis I need to find out about first what to resolve, because it seems like there is a permission issue on one of the folder but looking at the folder there isn't, so some where problem in the either code or PHP settings.

[2020-09-14 20:12] kazlauskis commented on #34
The issue here is that an endpoint is not passing on the request to the PHP code but rejecting it with 401 when the authorisation header is present for DELETE and PUT methods. I don't have any access to the IIS anymore so I can't tell you any more than the `401` code I am getting.

<img width="759" alt="Screenshot 2020-09-14 at 21 06 13" src="https://user-images.githubusercontent.com/7383162/93132

[2020-09-15 12:34] johnvanbreda commented on #34
I think that error is from IIS. @BirenRathod if you Google for "access is denied due to invalid credentials" there are quite a few links to different reasons why this might occur under IIS.

[2020-09-15 12:46] BirenRathod commented on #34
@johnvanbreda I have checked most of them and I'm still trying some but what I don't understand is, why does it need a folder permission to delete record?

[2020-09-15 16:53] BirenRathod commented on #34
@johnvanbreda by googling your suggestion, I didn't found any help at all. So I have tried my own expertise using past experience and finally I have cracked down this problem. It is basically combination of folder permission and PHP verb settings.

@kazlauskis I have already deleted above IDs, so you can try any other one. obviously you can add new one, like you did before.

[2020-09-15 17:14] johnvanbreda commented on #34
@BirenRathod it's an API end-point so this is nothing to do with a folder permission I suspect - the error message is misleading as it says "directory or page" - by "page" it really means "API end-point". What seems to be happening is that IIS ws pre-filtering the requests and making it's own decision on whether they are permitted or not, even though my code handles that by checking the bearer tok

[2020-09-15 17:24] BirenRathod commented on #34
@johnvanbreda About folder permission, that was my question above I asked but it turned out that it does require write permission of files and folder even though it is not doing anything actually on files or folder but IIS making sure that the user of website created on IIS has got all required permissions.

[2020-09-15 18:35] kazlauskis commented on #34
Thanks, I can confirm the methods work now. Has this also been fixed in live warehouse?

[2020-09-16 07:47] BirenRathod commented on #34
@kazlauskis Not yet, I can do after once I get a confirmation.

[2020-09-16 09:28] #14 closed, assigned to nobody

[2020-09-17 09:31] kazlauskis commented on #34
@johnvanbreda @BirenRathod, In live warehouse I am getting a double `Access-Control-Allow-Origin` header when doing OPTIONS. Any thoughts why this could be?

<img width="437" alt="Screenshot 2020-09-17 at 10 27 48" src="https://user-images.githubusercontent.com/7383162/93452891-de9df000-f8d0-11ea-8022-e0feb0f9786b.png">

[2020-09-17 09:41] BirenRathod commented on #34
@kazlauskis Yes, because there is a config added in web.config file to allow request from Geoserver.

Also, just to let you know, I still haven't enabled those setting as I did on dev warehouse to comply with REST API requests.

[2020-09-17 09:42] kazlauskis commented on #34
When would you be able to fix this and enable the methods?

[2020-09-17 09:49] BirenRathod commented on #34
@kazlauskis
I'm doing right now.

[2020-09-17 10:15] BirenRathod commented on #34
@kazlauskis
Is it possible to email me the JWT token for live please?

[2020-09-17 10:22] kazlauskis commented on #34
I've sent it now, but for some reason the live warehouse gives me 401 Unauthorised with any of the tokens now. I don't think this matters as this doesn't affect the headers.

[2020-09-17 10:29] BirenRathod commented on #34
@kazlauskis Thanks for that. Yes, I got same, so I'm investing into that.

[2020-09-17 14:00] BirenRathod commented on #34
@kazlauskis For some reason the token you sent me is not working or not right. That is why, I got 401: Unauthorized, "Unable to authorise" message.

[2020-09-17 14:11] kazlauskis commented on #34
Yes, it is irrelevant to the OPTIONS issue you're solving. You should not get the double header in the response. Please fix that first.

[2020-09-17 14:24] BirenRathod commented on #34
@kazlauskis I'm not resolving double header issue at present. I presume, it is ok if it is there.

[2020-09-17 14:27] BirenRathod commented on #34
@kazlauskis As I mentioned above, there is already config added to accept request from Geoserver, so it is easy to remove if that is giving a problem.

[2020-09-17 14:49] kazlauskis commented on #34
Yes, please fix it. There shouldn’t be a double header as this breaks CORS.

On 17 Sep 2020, at 15:27, Biren <notifications@github.com> wrote:

﻿

@kazlauskis<https://github.com/kazlauskis> As I mentioned above, there is already config added to accept request from Geoserver, so it is easy to remove if that is giving a problem.

—
You are receiving this because you were mentioned.
Reply to this ema

[2020-09-17 14:53] BirenRathod commented on #34
@kazlauskis It has fixed. Send me the right token please, so I can able to make right config to accept other verb requests.

[2020-09-21 09:59] kazlauskis opened #35 "Logo should be bilingual"
A request from Elen

[2020-09-21 09:59] kazlauskis opened #36 "Add manual diagrams in Welsh"

[2020-09-21 13:17] kazlauskis opened #37 "Fix CORS for warehouse uploaded media images"
Something has changed lately so that the app has started getting CORS issues when downloading images from the warehouse directly. For example, try in the browser console:
[code]

I think the `Access-Control-Allow-Origin: *` is missing from the response.

@BirenRathod @johnvanbreda

[2020-09-21 16:41] johnvanbreda commented on #37
Presumably this relates to the fact that Biren reconfigured CORS on the warehouse due to the API being enabled and this header ending up being duplicated? This link is direct file access so any headers have to be controlled by IIS not PHP.

@kazlauskis do you know if it is normal practice for the code in a REST API to add CORS headers? Or should this be handled in the webserver config?

[2020-09-21 18:08] kazlauskis commented on #37
To be honest, I am not sure what's the best practice. For some projects where we did Node API services, code was the only place we could have this functionality. For some others we had like an API gateway so some stuff went there.

[2020-09-22 07:53] BirenRathod commented on #37
Yes, you are right @johnvanbreda. That has caused this. The CORS setting has to be done at server level. The setting will help to use with other services as well for e.g. to access Geoserver map layer. I have enabled that again. My understanding is that it should be always at server level and it should not be request from client separately unless server has got no access to do that.

[2020-09-22 08:11] johnvanbreda commented on #37
Ok, so I think the answer here is to make adding a CORS header an option in the REST API config, so we can disable it when CORS is handled by IIS. @BirenRathod are you able to confirm exactly what CORS headers are added by IIS when this is enabled?

[2020-09-22 08:14] kazlauskis commented on #37
At the moment, we are back to double OPTIONS header issue. @BirenRathod I wonder if you could only add the headers for certain endpoints, in this case it would enabling it only for the `/upload` path which falls under IIS domain?

[2020-09-22 08:20] johnvanbreda commented on #37
@BirenRathod @kazlauskis I've realised I'd already coded an option 'allow_cors' in the REST API config, under the JwtUser config section. I've just turned it off for both warehouse1 and dev warehouse which means that CORS should be added via IIS as it was before.

[2020-09-22 08:39] BirenRathod commented on #37
@johnvanbreda at present I have only enabled this "Access-Control-Allow-Origin". Jut to let you know that It is not actually IIS is enabling. I am adding configuration in the web.config file at website level. There is no button or icon in IIs to do that.

[2020-09-22 09:16] johnvanbreda commented on #37
@BirenRathod from my perspective, web.config is an IIS thing ;)

In the code, if allow_cors is enabled, then the following headers get added:
[code]
@kazlauskis do you think that Biren should add these extra headers?

[2020-09-22 09:31] kazlauskis commented on #37
My feeling is that it is probably the quickest to add it at the IIS-level and tailor the headers to the endpoints there. @BirenRathod could you please add the above headers to all methods requesting `/upload/*` and `/index.php/services/rest/*` endpoints?

[2020-09-22 09:43] BirenRathod commented on #37
@johnvanbreda & @kazlauskis I have added the above headers on dev warehouse. See if that is ok.
@kazlauskis This is website level setting, so this setting will apply to whole website regardless of individual folder and when I mentioned website level means I can do settings for each website but at the same time I can do that for whole server for all websites.

[2020-09-22 10:04] kazlauskis commented on #37
Thanks, I am a bit surprised that the header rules can't target specific url paths with a regex or something.

[2020-09-22 10:10] BirenRathod commented on #37
@kazlauskis That is how it works. here is doc to help you understand more. https://docs.microsoft.com/en-us/iis/extensions/cors-module/cors-module-configuration-reference#cors-configuration

[2020-09-22 10:20] kazlauskis commented on #37
In the dev site, OPTIONS return the headers but not the other methods, could you add it to the others too?

[2020-09-22 10:23] BirenRathod commented on #37
@kazlauskis I can see all methods. I have already added. see below.

![image](https://user-images.githubusercontent.com/5941255/93871145-18eb0100-fcc6-11ea-89fd-27c0f345d7d9.png)

[2020-09-22 10:33] kazlauskis commented on #37
For which method and endpoint is this?

[2020-09-22 10:46] BirenRathod commented on #37
@kazlauskis As I mentioned above there no endpoint setup , so works at website level. I got this by requesting OPTIONS method.

[2020-09-22 10:54] kazlauskis commented on #37
Thanks, OPTIONS return the headers but not the other methods, could you add it to the others too? - Do GET, POST, PUT, DELETE as well.

[2020-09-22 11:12] BirenRathod commented on #37
@kazlauskis It added already. All methods are added on live and dev warehouses.

[2020-09-22 11:22] kazlauskis commented on #37
Try this command, it prints out the headers (I'll send the token separately):

[code]

[2020-09-22 11:27] BirenRathod commented on #37
@kazlauskis I have attached the response.

[response.zip](https://github.com/NERC-CEH/dunes-app/files/5261048/response.zip)

[2020-09-22 13:43] kazlauskis commented on #37
Sorry, but the contents of the zipped file are: `[object Object]`

[2020-09-22 14:05] BirenRathod commented on #37
Sorry @kazlauskis. That was the different file. Here it is.
[response.zip](https://github.com/NERC-CEH/dunes-app/files/5261988/response.zip)

[2020-09-22 14:10] kazlauskis commented on #37
Yes, I am also getting this response body but the response headers don't include the CORS related ones.

[2020-09-22 14:21] BirenRathod commented on #37
that is how server responses.

[2020-09-22 14:43] kazlauskis commented on #37
Yes, we are talking about the headers here. The server message (aka response) consists of a body and headers. In our case here, the headers are missing the CORS related information. The body that you have attached it here is fine but the browser cannot process the body unless the CORS  headers are also present. I suggest to read this [introduction on the HTTP messages](https://developer.mozilla.or

[2020-09-22 14:55] BirenRathod commented on #37
@kazlauskis My understanding is because you are getting this from xml file, browser will not send you headers.

Also, on the other hand why do you need headers? if you get results with 200 status, it should be fine.

[2020-09-22 18:20] kazlauskis commented on #37
Yes, the headers matter. Browsers can reject responses from the server if the CORS headers are not present when doing cross-domain requests.

The `xml` file extension is irrelevant to this, GET, POST, PUT, DELETE for any endpoints don't get the headers. At the moment, it looks like only the OPTIONS does.

Can you please enable it for GET, POST, PUT, DELETE methods as well?

[2020-09-23 08:07] BirenRathod commented on #37
@kazlauskis Thanks for info. As mentioned above it enabled already. So what more can I do?

[2020-09-23 08:23] kazlauskis commented on #37
Thanks, unfortunately, it is not working for all the methods that we require. I don't have the access to the IIS to help you but maybe some of your colleagues (@burkmarr?) would be able to help you with this?

[2020-09-23 08:29] BirenRathod commented on #37
@kazlauskis If it is not working something is missing either your end or my end. Why do you thing @burkmar can able to help me on this?

[2020-09-23 08:35] kazlauskis commented on #37
I have tried the requests multiple times now to see if I am missing something but it is clear the warehouse is not returning the required headers. Would it help if I called you? It might be more efficient than the chat.

[2020-09-23 08:58] BirenRathod commented on #37
@kazlauskis you mentioned only OPTIONS does then that should be same for all, so it should return with all methods.

[2020-09-23 09:03] kazlauskis commented on #37
Can you confirm it returns the headers for other methods your end?

[2020-09-23 09:12] BirenRathod commented on #37
Hello @johnvanbreda
@kazlauskis has made below request.
curl -L -v -s -o --location --request GET 'https://devwarehouse.indicia.org.uk/index.php/services/rest/reports/library/months/filterable_species_counts.xml' \
--header 'Authorization: Bearer TOKEN'

and he got status code 200 and results in JSON. I have attached the result here.
[response.zip](https://github.com/NERC-CEH/dunes-app/files/52669

[2020-09-23 09:17] kazlauskis commented on #37
This is the body you have attached not the headers. Maybe this command works differently on Windows? Try to find a command that gets you the headers only.

[2020-09-23 09:17] BirenRathod commented on #37
@kazlauskis
I made another request and I got same results. This time report file is in different folder.
curl -L -v -s -o --location --request GET
'https://devwarehouse.indicia.org.uk/index.php/services/rest/reports/projects/dunescapes/samples_list.xml'

My understanding is, this is how XML reports response.

[2020-09-23 09:18] kazlauskis commented on #37
Can you confirm you get the CORS headers?

[2020-09-23 09:19] BirenRathod commented on #37
No. same like other one.

[2020-09-23 09:20] BirenRathod commented on #37
I think CORS headers is trivial if server deal with XML file.

[2020-09-23 09:22] kazlauskis commented on #37
OK, then it means it is not working yet. Try to play around with the IIS config until you find the headers appearing correct. If you needed help with it then please send me a zoom link and I will try to help you direct.

[2020-09-23 09:24] BirenRathod commented on #37
There is nothing to config in IIS. As per this doc https://docs.microsoft.com/en-us/iis/extensions/cors-module/cors-module-configuration-reference#cors-configuration, I already done it.

[2020-09-23 09:32] kazlauskis commented on #37
Can I call you somehow?

[2020-09-23 09:32] johnvanbreda commented on #37
@BirenRathod yes the response you posted above is the correct expected body from the request.

[2020-09-23 09:34] BirenRathod commented on #37
Thanks @johnvanbreda.

@kazlauskis, any thoughts?

@johnvanbreda Do you get from above @kazlauskis's query?

[2020-09-23 09:43] BirenRathod commented on #37
@kazlauskis can you see now?

[2020-09-23 09:50] BirenRathod commented on #37
@kazlauskis you can call me now, if you want.

[2020-09-23 10:22] kazlauskis commented on #37
OK, how can I reach you?

[2020-09-23 10:32] BirenRathod commented on #37
@kazlauskis I sent you zoom invitation on your email address.

[2020-09-23 14:17] BirenRathod commented on #37
@johnvanbreda Is it possible to add below settings in php of rest api? Or if you can tell me, I can add it.
header("Access-Control-Allow-Origin: *");
header('Access-Control-Allow-Methods: GET, POST, DELETE, PUT, OPTIONS');
header("Access-Control-Allow-Headers: Content-Type, Authorization");

[2020-09-23 16:05] BirenRathod commented on #37
@johnvanbreda ignore my above request.

@kazlauskis I fixed this issue now. Check this on devwarehouse first. If you happy with that let me know and I will implement same for the live warehouse.

[2020-09-23 16:23] BirenRathod commented on #37
@kazlauskis Sorting out other errors now, so please do not check.

[2020-09-24 08:41] BirenRathod commented on #37
@kazlauskis I have resolved this issue now.
@johnvanbreda I have made changes to one of the php file in rest api module. In order to achieve this, I looked the common practice of rest api and in all of them it suggests to add this to where the API created. So I added that.

The reason I didn't add to IIS because by default it is already enabled in IIS, so if I make 'OPTIONS' request, it will show

[2020-09-24 09:55] kazlauskis commented on #37
Thanks, does fetching files from the `/upload` directory return the CORS headers now?

[2020-09-24 10:06] BirenRathod commented on #37
@kazlauskis It should be if it should get responses from REST API.

[2020-09-24 10:46] kazlauskis commented on #37
Can you confirm this is working now for the `/upload`?

[2020-09-24 11:12] BirenRathod commented on #37
yes it works.

[2020-09-24 11:13] BirenRathod commented on #37
On devwarehouse.

[2020-09-24 11:47] kazlauskis commented on #37
I have tried it now and I am not getting any CORS headers, am I missing something?

https://devwarehouse.indicia.org.uk/upload/062b24893d5e5ce4c0ba2cb77b9c4c07ce721e04.jpg
<img width="906" alt="Screenshot 2020-09-24 at 12 45 52" src="https://user-images.githubusercontent.com/7383162/94141055-18886c80-fe64-11ea-9fe2-7880942f75f1.png">

[2020-09-24 11:50] BirenRathod commented on #37
I got same too because this is outside the RESP API response. This should work on your app because there is no Javascript involve in it so no need to use CORS headers.

[2020-09-24 11:54] kazlauskis commented on #37
The images have to be CORS compliant and have the right headers, the browser will reject the requests otherwise. So we are back to square 1 then. @johnvanbreda @DavidRoy any thoughts how we could help Biren with this?

[2020-09-24 11:57] BirenRathod commented on #37
No it is not. the fetch works differently than directly pulling image from server. What ever you tried above is for getting image directly from server without involving Javascript.

Can you try getting image using REST API? or is it not possible.

[2020-09-24 12:28] BirenRathod commented on #37
@kazlauskis Actually that gives me an idea to introduced CORS just for upload folder. I done it now. So it should work on your app.

[2020-09-24 12:35] BirenRathod commented on #37
@kazlauskis I also done that on live warehouse too.

![image](https://user-images.githubusercontent.com/5941255/94145715-df072f80-fe6a-11ea-8c37-db1ddfeb62bc.png)

[2020-09-24 20:48] kazlauskis commented on #37
Thanks Biren, the CORS headers are present now.

[2020-09-24 20:48] #37 closed, assigned to nobody

[2020-09-24 20:48] #34 closed, assigned to nobody

[2020-09-25 13:33] #30 closed, assigned to nobody

[2020-09-25 13:33] #29 closed, assigned to nobody

[2020-09-25 13:34] #20 closed, assigned to nobody

[2020-10-13 10:45] sacrevert opened #38 "No species available to record in app under Scrub and woodland habitat"
@LaurenceJonesES Is this intentional? Not clear from manual.

[2020-10-13 10:55] sacrevert opened #39 "Three species displaying with unaccepted synonyms"
@kazlauskis @LaurenceJonesES
[Fixed dune, Health]
Scleropodium purum is given incorrectly for Pseudoscleropodium purum (NHMSYS0000310512)
[Strandline, Health]
Matricaria maritima is given incorrectly for Tripleurospermum maritimum (NHMSYS0000464607)
[Fixed dune, Health]
Odontites verna is given incorrectly for Odontites vernus (NBNSYS0000004164)

[2020-10-13 11:04] sacrevert opened #40 "Plant quadrat data: Website occurrences download is broken"
@johnvanbreda @LaurenceJonesES
Website occurrences download for plant quadrat data is broken.
I have entered test data through the app, and, whilst the parent and child sample downloads work, the occurrences zipfile is empty.

[2020-10-13 11:18] DavidRoy commented on #40
@johnvanbreda can you pick this one up as a reasonably high priority

[2020-10-13 11:22] sacrevert commented on #40
@johnvanbreda @DavidRoy Now working -- turns out there is just a lag relative to the parent and child sample info which worked instantly.

[2020-10-13 11:22] #40 closed, assigned to johnvanbreda

[2020-10-13 11:24] DavidRoy commented on #40
There will be a slight lag in records reaching the ElasticSearch index - which is used for the occurrences report

[2020-10-13 11:33] sacrevert opened #41 "App creating occurrences for zero abundance records in Quadrat survey"
@DavidRoy @LaurenceJonesES
- ~~Occurrence cover data information is missing from the download.~~
- Parent sample (i.e. plot) ID information is missing from the download.
- ~~Also, there are what I presume to be indicator columns (Health, Nitrogen), which are currently empty. Should this have a 1/0 to indicate whether a species is listed in that category, or the habitat name for which it is that ty

[2020-10-13 12:58] LaurenceJonesES commented on #38
There are no indicator species for these habitats, used in the app, only those listed in the Appendix of the manual. Open to suggestions on how to address this. Could just be a message saying 'no indicator species for this habitat'

[2020-10-13 13:07] sacrevert commented on #38
Probably not worth spending app resource on this -- just clarify in the manual somewhere obvious? You can close the issue if that is the case.

[2020-10-13 13:09] LaurenceJonesES commented on #38
Will add clarification in the manual.

[2020-10-13 13:09] #38 closed, assigned to nobody

[2020-10-13 13:58] johnvanbreda commented on #39
@sacrevert shall I update the warehouse data for these taxa? If so, shall I just update the existing name entry (replacing the synonym name with the accepted name and therefore updating all existing records), or should I add a new accepted name and point the old name at it?

[2020-10-13 14:01] sacrevert commented on #39
@johnvanbreda All of these already exist in the warehouse (they are common taxa), and appear on iRecord correctly, so I'm a bit confused as to what is required here. Presumably if someone did record under these old names the accepted name would be the one exported anyway? It doesn't seem like a UKSI issue to me

[2020-10-13 15:13] DavidRoy commented on #39
The plant lists came from @LaurenceJonesES, maybe thinking about the Dunes community who prefer outdated names ;-)

[2020-10-13 15:19] sacrevert commented on #39
Matricaria maritima is not so much an old name as a fossilised one -- it hasn't been that since the 1970s
; )

[2020-10-13 16:01] LaurenceJonesES commented on #39
The plant names were inherited from the original draft citizen science manual produced by NE and NRW staff. Very happy for them all to be updated as required.

[2020-10-14 14:22] sacrevert commented on #41
@DavidRoy @LaurenceJonesES @johnvanbreda
OK, so re-downloading today gives the cover values in the Health and Nitrogen columns, so maybe this was just another ElasticSearch index build lag.
I think this leaves the two issues below:
- Parent sample (i.e. plot) ID information is missing from the occurrences download
- Plot/sample habitat information missing from the occurrences download

[2020-10-14 14:34] sacrevert opened #42 "Disturbance surveys not uploading - Android 8.1.0"
@DavidRoy @kazlauskis @johnvanbreda @LaurenceJonesES
Not sure whether these are related but:
- ~~None of the data in the website disturbance download dataset have any grid refs (I presume that it is a required field of the survey?)~~ - solved under NERC-CEH/dunes-app#44
- Trying to test this on my phone by adding a new record with a grid ref, I've found that submission fails (survey stays on Pendi

[2020-10-14 14:37] sacrevert opened #43 "Distubance survey map backdrop missing"
@kazlauskis @LaurenceJonesES @DavidRoy
When conducting a Disturbance survey, the Location option map doesn't show any backdrop (unlike e.g. the Plant quadrat survey, which does show a satellite backdrop.

I presume this wasn't intentional?

[2020-10-14 15:04] sacrevert opened #44 "General issues with downloads"
@johnvanbreda @DavidRoy @LaurenceJonesES  Some thoughts on the download page below
- Dipwell samples -- It would be more straightforward for subsequent processing if there was just one file that included the parent sample (location) ID and the Grid_ref_calculated at the occurrence level. At the moment the child file doesn't include the parent sample ID for joining to get the grid ref
- Plant quadr

[2020-10-14 15:29] LaurenceJonesES commented on #44
Zonation & Profile surveys: Would be useful to include change point grid refs in the download, mainly to give the option of checking rough locations later

Disturbance: Site managers will want grid refs for Disturbance records

[2020-10-14 15:43] sacrevert commented on #42
From @LaurenceJonesES (#44 )

[2020-10-14 16:20] johnvanbreda commented on #39
I've updated the names on the warehouse. @kazlauskis you can update the names in the app but keep the same taxa_taxon_list_ids.

[2020-10-14 16:41] kazlauskis commented on #43
Thanks for raising this, I will fix it.

[2020-10-14 16:46] sacrevert commented on #43
I think the same issue is happening with the grid ref field under the point addition functionality in the Dune zonation and Dune profile surveys

[2020-10-14 18:44] kazlauskis commented on #39
Thanks, I have updated the app now and will close the ticket once it reaches the app stores.

[2020-10-14 20:10] sacrevert opened #45 "Request for all term and taxon lists associated with app"
@johnvanbreda @DavidRoy @LaurenceJonesES
At some point could you also upload a zip file here of all the taxon and term lists (including IDs) associated with this project? I will be doing some work on data visualisation at some point, and it would be useful to have all the terms in the correct format for downstream filtering, rather than creating fake data to see how they emerge in the downloads. C

[2020-10-15 20:16] johnvanbreda commented on #44
For all the child sample reports, I've added the grid_ref_calculated column but note that this is for the child sample as stored by the app, not the parent sample. So there might be discrepancies. I also added the parent_sample_id into the child sample reports so they can be linked.

I've added Site info to the sample downloads where it is available.

I've added a grid_ref_stored column to the sam

[2020-10-20 14:11] sacrevert commented on #45
@johnvanbreda @DavidRoy
Hi both, would it be possible to upload these?

[2020-10-20 14:12] sacrevert commented on #44
@johnvanbreda @DavidRoy
Thanks John, would it be possible to complete these this week?

[2020-10-20 14:13] sacrevert commented on #42
Possibly now this issue only relates to the app @kazlauskis but I will retest.

Update: new disturbance item still not uploading through app (remains as pending).
Phone spec: Android 8.1.0 (security patch to 1/Feb/2019), Moto G5

[2020-10-20 14:14] sacrevert commented on #41
@johnvanbreda @DavidRoy
Thanks John, would it be possible to complete these this week? I think these occurrence sample issues were not dealt with under #44

[2020-10-20 15:05] kazlauskis commented on #45
Hi Oli, this might be useful.

#### All the species warehouse IDs:
https://github.com/NERC-CEH/dunes-app/blob/master/src/common/data/species/index.json

#### Habitat IDs:
https://github.com/NERC-CEH/dunes-app/blob/master/src/common/data/habitats.json

@johnvanbreda do you know if there is some report in the warehouse available to download all survey terms and matching ids?

@sacrevert All the term

[2020-10-20 15:33] kazlauskis commented on #42
@sacrevert try updating the app to the latest - v1.0.0-6. It should have the disturbance fixed now.

[2020-10-20 15:33] #39 closed, assigned to kazlauskis

[2020-10-20 15:33] #43 closed, assigned to nobody

[2020-10-20 15:33] #42 closed, assigned to nobody

[2020-10-21 13:01] johnvanbreda commented on #45
@sacrevert here's a query that extract's all the attributes, plus where the attributes are lookups, the list of terms. I've uploaded the results as an attachment (CSV format, just rename the extension:
[code]
[Dune attributes.txt](https://github.com/NERC-CEH/dunes-app/files/5415975/Dune.attributes.txt)

Have you got what you need for the taxa from Karolis' post above?

[2020-10-21 13:13] sacrevert commented on #45
That's all great. Many thanks @johnvanbreda and @kazlauskis !

[2020-10-21 13:13] #45 closed, assigned to nobody

[2020-10-21 13:21] johnvanbreda commented on #41
@sacrevert is that OK now?

[2020-10-21 13:31] sacrevert commented on #41
Almost there, but I don't really need the following sample level columns in the occurrence download (these are in the child download which is fine since you updated it with the parent ID values):

Grasses | Herbs | Moss & Lichen | Sand | Scrub | Shrubs | Vegetation
-- | -- | -- | -- | -- | -- | --

Also, at the moment the occurrence download includes all the species that are listed in a list for a

[2020-10-21 13:45] johnvanbreda commented on #44
@sacrevert I'm not sure what change point grid refs are - are they what the app stores in "Grid ref. calculated"? If so then these are included in the child sample downloads.

[2020-10-21 13:46] LaurenceJonesES commented on #41
We shouldn't need to download non-recorded, but where someone enters '0' abundance, that's useful to show it has been noted, rather than forgotten. I'm thinking more specifically about bare sand in this instance, and the recording of categories like shrubs which also require aggregate cover to be recorded.

[2020-10-21 13:52] sacrevert commented on #41
@LaurenceJonesES Those elements of bulk cover are at the child sample level, this issue is restricted to the species occurrences download only. If you want people to explicitly enter zero to indicate that they have not forgotten the question, then those sliders should be made mandatory in the app - at the moment they can either be left blank and zero will be inferred, or a zero will be explicitly

[2020-10-21 13:52] johnvanbreda commented on #41
I've removed the columns. I think the question about zero occurrences is a separate issue to the downloads.

[2020-10-21 13:52] kazlauskis commented on #41
@sacrevert yes, at the moment, the app sends a full list of occurrences for the habitat. But this wasn't done intentionally, rather a simpler approach to building a list for the habitat.

[2020-10-21 14:21] sacrevert commented on #41
@kazlauskis Shall i open a new issue for this? Is it something that can be easily changed?

[2020-10-21 14:24] LaurenceJonesES commented on #41
Leaving out zero records can be automated if that's an issue currently; probably need a wider discussion on what to make compulsory or not, so let's park that issue for a few months until more feedback received.

[2020-10-21 14:30] sacrevert commented on #41
@LaurenceJonesES We need to clearly separate issues on here so that they are manageable. I will create a new issue for the sample cover properties in relation to mandatory zeros, noting that a decision is pending. The occurrences issue should be solved, because having occurrence records that are zero abundance is not ideal for the wider indicia warehouse in my opinion, and is the kind of thing tha

[2020-10-21 14:32] sacrevert opened #46 "Should cover values be mandatory even if zero? [Quadrat survey]"
@LaurenceJonesES to decide
Note that this does not really affect downstream processing, because zeros are straightforward to infer. The important issue is data quality, in that forcing a zero forces people to explicitly consider the field.

[2020-10-21 14:41] sacrevert commented on #44
@johnvanbreda Yes, you are right, the addition of Gridref_calculated solved that one too

[2020-10-21 14:41] #44 closed, assigned to nobody

[2020-10-23 11:33] sacrevert commented on #41
@kazlauskis just to note that I have renamed this to solely address this issue. Not sure whether it is resolvable easily or not?

[2020-10-23 11:42] kazlauskis commented on #41
Great, thanks, this shouldn't be too hard to change. I will leave it to others to prioritise.

[2020-10-23 11:56] sacrevert commented on #41
@kazlauskis I think it is desirable in that we don't want to be filling the database with absence records, and required for downstream processing of occurrence downloads, so, assuming that we have budget, it would be good to implement as soon as possible.
@DavidRoy

[2020-10-23 12:19] DavidRoy commented on #41
@kazlauskis I agree with Oli.  Even though the data volumes for this app are likely to be low, it's cleaner to implement as @sacrevert suggest.  We can cover from other budgets if it's an issue for DD

[2020-10-23 15:00] kazlauskis commented on #41
Thanks, I will change the app to skip creating empty occurrences.

[2020-10-23 17:29] #41 closed, assigned to kazlauskis

[2020-11-03 13:25] DavidRoy opened #47 "Unable to enter minus values for longitude for fixed points"
Reported by user:
I’m having an issue when entering fixed point locations into the website. It’s not letting me add minus values for longitude (i.e. -5.xxxxxx). Alternatively, I can add positive values, which locates points in the correct place (where I want to place the minus value points) on the website, but then points appear in Belgium when opened in the app! This problem doesn’t occur when en

[2020-11-03 13:25] DavidRoy opened #48 "Fixed point photo names to appear in app"
Reported by user:
When I open my list of fixed point photos at Penhale in the app, their names do not appear, just Point #1, Point #2, etc. This is despite me giving them descriptive names at the website end of things. To be able to use these fixed points in the field, we’ll need to be able to find them by name?

[2020-11-03 16:53] DavidRoy opened #49 "Site field empty in Disturbance download file"
https://dunescapes.brc.ac.uk/downloads

Dune Disturbance download file lacks any entries under 'Site'

[2020-11-03 17:06] kazlauskis opened #50 "Fixed point photography manual correction"
From Andy:

[2020-11-03 17:07] kazlauskis opened #51 "Increase the manual 'Read me' button size"
From Andy:

[2020-11-03 17:09] kazlauskis opened #52 "Uploading media returns error screen"
POST to `media-queue` gets this screen:

<img width="513" alt="Screenshot 2020-11-03 at 17 08 58" src="https://user-images.githubusercontent.com/7383162/98017513-45cb2180-1df7-11eb-9d62-d0b3dcfa7bd0.png">

[2020-11-04 09:24] DavidRoy opened #53 "RShiny Dipwell data - choose site dropdown not matching data"
The RShiny 'choose site(s)' dropdown does not match uploaded data.  Maybe a caching issue?

@sacrevert

![dip](https://user-images.githubusercontent.com/2699478/98093062-5de68380-1e7f-11eb-9d52-fa5393a36e53.png)

[2020-11-04 09:28] sacrevert commented on #53
This is because the site list in the app is uploaded as a static list, and I couldn't work out from the app files what the full list of site/dipwell names looked like (despite my #45). Also, @LaurenceJonesES has said that the download does not contain the most optimal set of information (in terms of separating out site and dipwell name information), so I need a complete set of terms for the releva

[2020-11-04 16:21] AndyNelsonCornwall opened #54 "Various feedback from Cornwall app trials"
[CitSci app feedback 04-11-20.docx](https://github.com/NERC-CEH/dunes-app/files/5489035/CitSci.app.feedback.04-11-20.docx)

[2020-11-04 18:40] kazlauskis commented on #54
Thanks for putting it here.

[2020-11-09 21:20] kazlauskis commented on #52
@johnvanbreda do you know if this is the IIS or the warehouse?

[2020-11-10 11:47] johnvanbreda commented on #52
I think a folder permissions issue - can you try now please?

[2020-11-11 09:47] kazlauskis commented on #52
Thanks, works well now.

[2020-11-11 09:47] #52 closed, assigned to johnvanbreda

[2020-11-11 14:02] sacrevert opened #55 "Fixed point photography -- app labelling of groups"
The app provides "Transect" as an option under the Fixed point photography Location screen, however, according to how these groups are set-up on the website, this should be labelled "Group" rather than "Transect"
@kazlauskis @LaurenceJonesES

Note that this deals with the first bullet in the Word doc under #54

[2020-11-11 14:08] sacrevert opened #56 "Fixed point photography -- website downloads"
Request for additional information in child sample download.

When locations are set up on the website e.g. [see](https://dunescapes.brc.ac.uk/sites/setup/fixed-point-edit?location_id=248034&dynamic-parent_id=247268)
Fixed point labels and group names are also set. Can these be included in the download please.
At the moment the fixed point label is appended to the site name, but it would be useful

[2020-11-11 14:09] sacrevert commented on #54
First bullet under Fixed point photography is now under #55

[2020-11-11 14:12] sacrevert opened #57 "Water table depth -- app labelling of groups"
The app provides "Transect" as an option under the Water Table Depth Location screen, however, according to how these groups are set up on the website, this should be labelled "Group" rather than "Transect"
@kazlauskis @LaurenceJonesES

[2020-11-11 14:14] sacrevert opened #58 "Water table depths -- website downloads"
Request for additional information in child sample download.

When locations are set up on the website e.g. [see](https://dunescapes.brc.ac.uk/sites/setup/fixed-point-edit?location_id=248047&dynamic-parent_id=247268)
Fixed point labels and group names are also set. Can these be included in the download please.
At the moment the fixed point label is appended to the site name, but it would be useful

[2020-11-11 14:14] sacrevert commented on #53
@DavidRoy Probably best to close this, as it will change based on amendments to the downloads anyway

[2020-11-11 14:32] sacrevert opened #59 "Dune zonation mapping -- website downloads"
I'm a little confused by this one, as I have uploaded test data under this survey for Baglan Burrows, Transect name "Southern", but the download is not populating the site name at the moment. I presume this just needs an SQL fix somewhere?

Also, can we add the Transect name to the download, e.g. the field that has "Southern" [here](https://dunescapes.brc.ac.uk/sites/setup/transect-edit?location_i

[2020-11-11 14:36] sacrevert opened #60 "Plant quadrat recording -- website downloads"
**For the child download:**
Can we separate out the Site name, the Fixed point location name, and the Group name please [example](https://dunescapes.brc.ac.uk/sites/setup/fixed-point-edit?location_id=248043&dynamic-parent_id=247268)

**For the occurrences download:**
Can we add the Site name, the Group name, and rename the Fixed point location name field from "Location" to "Fixed point location"

[2020-11-11 14:37] sacrevert opened #61 "Dune profiles -- website locations"
This seems to have the same issues, with the same solutions required, as detailed in #59
@johnvanbreda
cc @LaurenceJonesES

[2020-11-11 14:39] sacrevert opened #62 "Disturbance survey -- website reporting"
Site name is included in the download, but is not being populated

@johnvanbreda
cc @LaurenceJonesES

[2020-11-12 08:39] DavidRoy commented on #54
@kazlauskis @sacrevert are there any issues from Andy's feedback that is not captured in other issues?

[2020-11-12 08:40] DavidRoy opened #63 "View and download of survey images"
Requirement to view and downloading all survey images.

[2020-11-12 08:42] #8 closed, assigned to johnvanbreda

[2020-11-12 08:56] AndyNelsonCornwall opened #64 "Latest feedback from Cornwall - various"
[CitSci feedback 12-11-20.docx](https://github.com/NERC-CEH/dunes-app/files/5529353/CitSci.feedback.12-11-20.docx)

[2020-11-12 09:03] DavidRoy opened #65 "Notes added via website are not available in app"
From Andy Nelson:
Notes added to features on the website do not appear in the app? Adding notes, e.g. how to find somewhere, particular hazards re. risk assessment, direction to point a camera, etc could all be useful to volunteers when in the field. However, if I add notes to the website, they don’t seem to appear anywhere in the app. Is it possible for these notes to appear in the app?

[2020-11-12 09:04] DavidRoy opened #66 "Website - map selection"
From Andy Nelson:
when using the “?” tool on the map, I can select datapoints on the map (shown red in the image below) but I’m not sure how to access this selection of locations? The accompanying table doesn’t seem to change in any way? Am I missing something (quite possible) or is there an issue with this?

![an](https://user-images.githubusercontent.com/2699478/98918879-12a72300-24c6-11eb-82af-

[2020-11-12 09:06] DavidRoy opened #67 "mismatch between map and manual labels"
From Andy Nelson:
The categories in the app and the manual are different, which is confusing.

Manual | App
-- | --
Bare ground/sand | Bare ground &   sand
Mosses & lichens | Moss & lichen
Grasses, sedges   & rushes | Grasses
Herbs | Herbs
Heathland Shrubs | Shrubs
Trees and scrub | Scrub

It would be good for these to match up exactly, to reduce opportunities for confusion amongst volunteer surve

[2020-11-12 09:07] DavidRoy opened #68 "Fixed point description in manual"
From Andy Nelson:

As many of my fixed point photography locations will be in publicly accessible locations, I want to use this aspect of CitSci to raise awareness of the project and encourage participation in it. Taking fixed point photographs is something that can easily be done by members of the public, using instructions in the app, without guidance and training. The manual states that “Fixed

[2020-11-12 09:08] DavidRoy opened #69 "Capture of other species data"
From Andy Nelson:
Although there is a useful link to iRecord, it appears to me that this data would not be collected in the app, so would not be available to site managers? It might be useful for site managers to be able to add specific species which they want people to look for to this page, or for surveyors to be able to add another species that they have noticed/recorded, so that data is captur

[2020-11-12 09:13] DavidRoy commented on #69
@AndyNelsonCornwall

On the question of data through iRecord.
We can potentially provide a data download for site managers for 'All' data captured through iRecord where we have site boundaries.  We'll raise a separate issue for this

[2020-11-12 09:14] DavidRoy opened #70 "Additional site manager download - data from iRecord"
Where dunesite boundaries are available.
An occurrence download for any iRecord records that intersect with site boundary.
Available as additional download - https://dunescapes.brc.ac.uk/downloads

[2020-11-16 11:33] johnvanbreda commented on #66
Fixed.

[2020-11-16 11:33] #66 closed, assigned to johnvanbreda

[2020-11-16 11:44] johnvanbreda commented on #62
Fixed.

[2020-11-16 11:44] #62 closed, assigned to johnvanbreda

[2020-11-16 12:14] johnvanbreda commented on #59
Done

[2020-11-16 12:14] #59 closed, assigned to johnvanbreda

[2020-11-16 12:16] johnvanbreda commented on #61
Done

[2020-11-16 12:16] #61 closed, assigned to johnvanbreda

[2020-11-16 12:20] johnvanbreda commented on #33
Seems to work now - I've updated the relevant pages. On the overview map, Google Satellite is an option but not the default, on the other close up maps it is the default.

[2020-11-16 12:20] #33 closed, assigned to johnvanbreda

[2020-11-16 12:30] johnvanbreda commented on #55
@DavidRoy app issue?

[2020-11-16 12:31] johnvanbreda commented on #49
Duplicate of #62

[2020-11-16 12:31] #49 closed, assigned to johnvanbreda

[2020-11-16 12:37] johnvanbreda commented on #47
@DavidRoy the spatial ref field accepts negatives for the 2nd value (longitude) if the system is set to WGS84. Is this a misunderstanding of the Easting/Northing fields? They are designed to accept OSGB easting/northing data therefore a negative value is out of bounds.

[2020-11-16 12:39] DavidRoy commented on #55
@johnvanbreda you are right I think but maybe implications for the API reports used by the app?

[2020-11-16 13:40] johnvanbreda commented on #55
I'm not sure I follow why the API reports are implicated but @kazlauskis can let me know if that is the case.

[2020-11-16 16:36] kazlauskis commented on #55
Yeah, the terminology isn't all the way consistent between the website, manual and the app. In the manual, we don't use the word 'groups' either but mention that the points can be along a transect. If this is about changing the 'Transect' to 'Group' in this page then that should be easy though it would require some re-translation to Welsh.

EDIT: for the reports that the app use - this shouldn't r

[2020-11-16 16:38] DavidRoy commented on #55
@LaurenceJonesES to confirm

[2020-11-19 14:01] LaurenceJonesES commented on #55
I think we need a consistent &/or flexible approach that works across all activities, and is consistent across 'set up' on the website, use in the app, and naming conventions for downloaded data.
-Simplest would be to call this 'Transect/Group' for all activities. If its not too much work, then it could be called 'Transect' for the two transect activities: Profile and Zonation, and 'Group' for all

[2020-11-19 14:03] LaurenceJonesES commented on #67
Useful suggestions. We can revise at a subsequent iteration, as requires some thought initially, plus changes to app content & translations

[2020-11-19 14:11] LaurenceJonesES commented on #68
Yes, we can amend the manual to reflect this. This will be done in a subsequent iteration of the manual.

[2020-11-20 15:37] DavidRoy commented on #63
Requirement is to have:
1. a report page with filters by site, survey type, date together with photos.  With a link for download of individual photos.  Option, also include country of site as table column
2. ability to download multiple photos within a .zip file, e.g. based on filtering by site

@johnvanbreda can you give a time estimate for each please

[2020-11-20 15:38] DavidRoy commented on #56
@johnvanbreda can you give an eta on this one, or is dependent on other issues?

[2020-11-23 09:48] DavidRoy opened #71 "Dunesite overview report - values too high"
https://dunescapes.brc.ac.uk/sites/overview-list

Shows samples for South Watney to be >1000 quadrats.  However, there are only a handful of records in the quadrat download file.

@johnvanbreda can you confirm what is in the summary report?  Does it include training data for example?

[2020-11-23 11:07] johnvanbreda commented on #71
Fixed. Joins in the SQL were causing the aggregate functions to multiply up.

[2020-11-23 11:07] #71 closed, assigned to johnvanbreda

[2020-12-18 15:00] johnvanbreda commented on #56
Done

[2020-12-18 15:00] #56 closed, assigned to johnvanbreda

[2020-12-18 15:01] johnvanbreda commented on #58
Done

[2020-12-18 15:01] #58 closed, assigned to johnvanbreda

[2020-12-18 15:55] johnvanbreda commented on #63
@DavidRoy Is this photos of sites and fixed points, as well as any associated with records?

1. Assuming the answer to the above doesn't make the report query complex, 4 hours.
2. This needs a new service on the warehouse, which takes a report and parameters and converts the output into a download zip file containing images found by the report. Need to consider whether to implement this against El

[2020-12-18 16:05] johnvanbreda commented on #60
@sacrevert I've done the child download. For the occurrences download, the site name has been added and the fixed point column renamed. However because this is based on the Elasticsearch occurrences download the group name, which is a location attribute, is not available. If this is important we will need to consider changing the download to PostgreSQL which is slower but allows any attribute to b

[2020-12-18 16:11] johnvanbreda commented on #70
Will this be a single download for all dune sites, or can we have a drop-down to choose the site? The latter might be easier so we don't run an over-complex spatial query (since dune site boundaries are not indexed).

[2020-12-18 17:13] DavidRoy commented on #70
Latter is fine, where users choose the site first. Only available for sites where we have a boundary

[2020-12-21 10:52] sacrevert commented on #60
@johnvanbreda Many thanks John. I think ultimately we do need the group name, but I'll let you and @DavidRoy decide on methods and priorities. I'm not sure speed is that important in this instance, but, as you say, it may be more efficient in the broader context to update the ES indexing.

[2020-12-21 10:59] DavidRoy commented on #60
@johnvanbreda for now I think we can switch to PostgresSQL to allow Oli to progress

Longer term - we'll need the location attributes in the ElasticSearch index as this will be a wider requirement.

@sacrevert presumably the plant portal will want to query on plot groups?

[2020-12-21 11:02] sacrevert commented on #60
Sounds good. Regarding Plant Portal, this is true, but I personally can't say whether the PP stuff has been implemented in exactly the same way as with Dunescapes, and thus whether exactly the same ES solution would apply. Andy would need to comment on this when the time comes.

[2020-12-21 14:40] johnvanbreda commented on #60
I'll convert the report. I note that Plant Portal has location attributes such as "Plant portal plot group identifier name text" and "Plant portal plot group identifier name lookup" which makes me suspect the solution will be similar.

[2020-12-21 16:12] johnvanbreda commented on #60
I've added an extra button for the PostgreSQL version of the occurrences report.

[2020-12-21 16:12] #60 closed, assigned to johnvanbreda

[2021-01-03 18:53] johnvanbreda commented on #70
Now done. I've also moved the old Elasticsearch quadrat occurrences download to the bottom of the form as they will both be affected by the site selector.

[2021-01-03 18:53] #70 closed, assigned to johnvanbreda

[2021-01-04 09:08] #2 closed, assigned to DavidRoy

[2021-01-04 09:08] #3 closed, assigned to DavidRoy

[2021-02-02 11:18] sacrevert opened #73 "Dune zonation survey -- distance field should be required?"
Distance is not a required field, but surely should be? @DavidRoy

[2021-02-02 11:19] sacrevert commented on #53
@DavidRoy This can be closed now, as the new interface works from a full, static list of sites provided with the Shiny app.

[2021-02-02 11:20] DavidRoy commented on #73
@LaurenceJonesES

[2021-02-02 11:21] #53 closed, assigned to nobody

[2021-02-02 11:26] sacrevert opened #74 "Dune zonation survey download"
I thought this had been fixed (#59), but the child samples download for this survey is still missing Site and Transect information. Checked with new data submission through app which appears in download, but without site/transect info.
@johnvanbreda

[2021-02-02 11:37] sacrevert opened #75 "Logic error in dune zonation survey set up"
Either the End point of a transect needs a Distance field in the app, or the total transect length needs to be entered somewhere and included in the download, otherwise the amount of the transect that is covered by the final habitat recorded cannot be quantified (and all the habitat proportions for a transect are unknown, making the requested visualisation impossible). @LaurenceJonesES

[2021-02-03 11:44] sacrevert opened #76 "Plant quadrat recording download issues"
This relates to bugs with the PostgreSQL implementation of #60
@johnvanbreda

1. Occurence IDs, but not species names are included in downloads. Species names are required
2. Download duplicates occurrences, each has a row with the group name, but also one with a blank group name field

[2021-02-03 11:50] sacrevert opened #77 "Plant Quadrat Recording in App -- Quadrat labels"
In the app, quadrats are arbitrarily labelled as Quadrat 1, 2 etc., but the Fixed point label from the website interface (which is the quadrat name assigned by the site manager) is not shown anywhere.

Easiest solution is presumably to add the fixed point label to a quadrat's recording screen.
@kazlauskis

[2021-03-18 18:15] DavidRoy opened #78 "Enabling site managers to edit existing locations that they didn't set up"
Currently, only the user who setup a transect/fixed point location can edit them.  Requirement is to allow any users with role 'site manager' to be able to edit locations.

This it to allow for the case where the site manager role changes for sites.

[2022-04-27 09:08] DavidRoy opened #80 "Add new dune site: Pembrey burrows"
Add new site to the list of type - Dunescapes site

Name = Pembrey burrows
Site boundary file =
[PembreyBurrows_SoLIFE_Boundary (1).zip](https://github.com/NERC-CEH/dunes-app/files/8570586/PembreyBurrows_SoLIFE_Boundary.1.zip)
Central gridref = SS 41295 99304

[2022-05-19 14:58] DavidRoy commented on #80
Second site to add
Name = Newborough Warren
Site boundary file =
[Warren Shapefile.zip](https://github.com/NERC-CEH/dunes-app/files/8730452/Warren.Shapefile.zip)
Central gridref = SH 42282 63502

[2022-05-23 10:18] johnvanbreda commented on #80
@DavidRoy I've done Pembury Burrows. The Newbourough Warren SHP files has a DBF with no name for the location in it - can you re-export this please with at least 1 attribute value I can use as the name.

[2022-05-26 15:14] DavidRoy commented on #80
@johnvanbreda can you setup newborough without the spatial boundary, I.e. just centroid

[2022-05-27 08:31] johnvanbreda commented on #80
Done. I managed to hack the boundary out of the file and apply it to the location using PostGIS and QGIS.

[2022-05-27 08:31] #80 closed, assigned to johnvanbreda

[2022-06-07 13:11] kazlauskis opened #81 "Website locations based on Lat Longs don't appear correctly in the app map."
These locations have W and E in the name spacial sref and the app doesn't respect that.